<section id="dashboard-view" class="mainbar">
  <div ui-view>
  <header>
    <h1>Orange Juice</h1>
    <h1>Your App's Name: testproject</h1>
    <img src="images/orange.png"/>
  </header>

  <section>
    <div class="row">
      <div class="one-half column">
        <h2>Technology Stack</h2>
        <ul>
          <li>AngularJS (John Papa)</li>
          <li>Java</li>
          <li>Jersey REST Services</li>
          <li>Oracle 12c Database</li>
        </ul>
      </div>
      <div class="one-half column">
        <h2>Status</h2>
        <div>
          <p>
            Result from Jersey RESTful service querying Oracle 12c Database is: {{ vm.firstname }}
          </p>
          <p ng-show="vm.up" style="color: green;">The server is responding!</p>
          <p ng-show="!vm.up" style="color: red;">The server has not responded.</p>
        </div>
      </div>
    </div>
  </section>

  <footer>
    Copyright © 42six.com
  </footer>
  </div>
</section>
